#gameboard {
  display: grid;
  width: calc(min(100vw, 100vh) - 20px);
  height: calc(min(100vw, 100vh) - 20px);
  margin: auto;
  text-align: center;
  background-color: #2c3037;
}

/* Desktop and tablets */
@media only screen and (min-width: 768px) {
  #gameboard {
    width: min(80vw, 80vh);
    height: min(80vw, 80vh);
  }
}
